.ch-change-password {
    width: 920px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.ch-main-title {
    font-size: 1.2em;
    color: #786082;
    border: solid 1px #E9EBEE;
    border-top: none;
    border-left: none;
    border-right: none;

    height: 80px;
    line-height: 80px;
}

.ch-main-top {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #E9EBEE;
    /*background-color: red;*/
    border-top: none;
    border-left: none;
    border-right: none;

}

.ch-main-top-left {
    width: 25%;
    float: left;
    height: 60px;
    font-size: 0.8em;
    color: #786082;
    line-height: 60px;
    /*background-color: orange;*/

}

.ch-input01 {
    width: 35%;
    height: 35px;
    display: inline-block;
    margin-top: 10px;
    /*background-color: red;*/
}

.ch-main-top-right {

    float: right;
    /*background-color: chartreuse;*/
    color: #CECDD1;
    text-align: right;
    width: 35%;
    font-size: 0.8em;
    height: 100%;
    line-height: 60px;
}

.ch-main-top-right1 {

    float: right;
    /*background-color: chartreuse;*/
    color: #CECDD1;
    text-align: right;
    width: 10%;
    font-size: 0.8em;
    height: 100%;
    line-height: 60px;
    /*margin-top: -50px;*/
}

.ch-div-submit {
    width: 100%;
    background-color: white;
    height: 80px;
}

.ch-submit {
    margin-left: 26%;
    width: 17%;
    height: 40px;
    margin-top: 20px;
    background-color: #F3B900;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: none;
}

.ch-submit:hover {
    background-color: #f3623d;
}

.ch-intensity {
    display: inline-block;
    margin-left: 2%;

    width: 15%;
    height: 20px;
    /*background-color: indianred;*/
    vertical-align: middle;
}

.ch-intensity-type {
    display: inline-block;
    width: 31%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #F2F3F5;
    margin-left: -5px;
}




