<!--
<div style="background-color: #F2F3F5;">
    <div class="row" style="background-image:url(images/inforTotal/1kjasd.png);background-position:center bottom;height: 200px">
        <div class="container" >

            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="box-sizing: border-box;" >
                <div class="row" >
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style=" background-color: white;width: 150px;height: 150px;border-radius: 75px;margin-top: 25px;cursor: pointer">
                        &lt;!&ndash;<img src="images/headImg.png" height="59" width="61" alt=""/>&ndash;&gt;
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="box-sizing: border-box;margin-top: 70px;">
                        <p style="font-size: 11px;margin: 3px;padding: 0px;">
                            <span style="font-size: 15px; color: white">奥***</span>
                            <span style="margin-left: 15px;border-radius: 3px;display: inline-block;width: 40px;height: 20px;border: solid 1px gainsboro;text-align: center;line-height: 20px; color: white">普通卡</span>
                        </p>
                        <p style="font-size: 16px;margin-top: 30px;padding: 0px;color: white ">我的累计积分: 0， +50就能成为 银卡会员！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="container" style="padding-top: 20px;">
        <div class="row">
            <div id ="asideNavAll" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color: white;border: solid 1px gainsboro ;" >
                <div id ="asideNav" class="row">
                    <div style="width: 100%;height: 50px;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4>
                            <img src="images/inforTotal/myOrder.png" height="20" width="20" style="vertical-align: middle"/>
                            <span style="vertical-align: middle">我的订单</span>
                        </h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;" class="urt-title " ui-sref="userInfoFirst.shortRent">
                   <span  style="text-decoration: none;margin-left: 10px;" ><img src="images/inforTotal/ShortDrive.png" height="15" width="15"/></span>短租自驾
                    </div>
                    <div style="width: 100%;height: 30px">
                    </div>
                    <div style="width: 100%;height: 50px;border-top: solid 1px gainsboro;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4><img src="images/inforTotal/myAccount.png" height="15" width="15"/>我的账户</h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;" class="urt-title" ui-sref="userInfoFirst.myInfo">
                   <span  style="text-decoration: none;margin-left: 10px" ><img src="images/inforTotal/myInfor.png" height="15" width="15"/>我的信息</span>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;" class="urt-title" ui-sref="userInfoFirst.changePassword">
                   <span  style="text-decoration: none;margin-left: 10px" ><img src="images/inforTotal/changePassword.png" height="15" width="15"/>修改密码</span>
                    </div>
                    <div style="width: 100%;height: 30px;">
                    </div>
                    <div style="width: 100%;height: 50px;border-top: solid 1px gainsboro;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4><img src="images/inforTotal/myFootprints.png" height="15" width="15"/>我的足迹</h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;"  class="urt-title" ui-sref="userInfoFirst.myComment">
                   <span  style="text-decoration: none;margin-left: 10px" >
                       <img src="images/inforTotal/myAssess.png" height="15" width="15"/>我的评价</span>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;"  class="urt-title" ui-sref="userInfoFirst.myCollect">
                   <span  style="text-decoration: none;margin-left: 10px"  ><img src="images/inforTotal/myCollect.png" height="15" width="15"/>我的收藏</span>
                    </div>
                    <div style="width: 100%;height: 30px;"></div>
                    <div style="width: 100%;height: 50px;border-top: solid 1px gainsboro;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4><img src="images/inforTotal/memberTerms.png" height="20" width="20"/>
                            会员条款</h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;"  class="urt-title " ui-sref="userInfoFirst.memberRules">
                   <span  style="text-decoration: none;margin-left: 10px" >
                       <img src="images/inforTotal/membershipRules.png" height="15" width="15"/>
                       会员细则</span>
                    </div>
                    <div style="width: 100%;height: 30px">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ui-view >
            </div>
        </div>
    </div>
    <div class="container" style="width: 100%">
        <div class="row" style="margin-top: 4%">
            <hr>
        </div>
    </div>
    <div class="fivth" >
        <div class="row" style="margin: auto;background-color: #FFFFFF">
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding: 1% 0 2% 0;min-width: 460px">
                <div class="fivth-one">
                    <div class="title"><a href="https://www.zuche.com">租车</a>预订说明</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz1">服务时间</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz03">待租车况</a> <br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz05">服务预订</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz02">短租产品</a> <br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz04">租车资格</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz06">取还车说明</a>
                    </div>
                </div>
                <div class="fivth-after-two">
                    <div class="title">会员管理</div>
                    <div class="detail">
                        <a target="_blank" href="https://mycar.zuche.com/member/person/personinfo/memberNotify.do">会员章程</a>
                        <br>
                        <a target="_blank" href="https://mycar.zuche.com/member/person/personinfo/memberRule.do">会员细则</a><br>
                        <a target="_blank" href="https://mycar.zuche.com/member/getMemberLevel.do">定级积分</a>
                    </div>
                </div>
                <div class="fivth-after-three">
                    <div class="title">紧急事务处理</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz07">保险责任</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz08">理赔说明</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz09">事故处理</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz10" style="clear:both;">救援及备用车</a>
                    </div>
                </div>
                <div class="fivth-after-four">
                    <div class="title"><a href="https://www.zuche.com">租车</a>费用及结算</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz11">价格说明</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz13">结算流程</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz14">储值卡</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz15">积分</a>
                    </div>
                </div>
                <div class="fivth-after-five">
                    <div class="title">帮助中心</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/cjwt/">常见问题</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/xssl.jsp">新手上路</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp">服务规则 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
-->
<div style="background-color: #F2F3F5;">
    <div class="row userinfo-top" >
        <div class="container" >

            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
                <div class="row" >
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 userinfo-frame" data-toggle="modal" data-target="#myModal" style="padding: 0px;">
                        <img ngf-src="user_icon" class=" img-circle" width="100% " height="100%" />
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" style="margin-top: 70px;">
                        <p style="font-size: 11px;margin: 3px;padding: 0px;">
                            <span style="font-size: 15px; color: white">{{nickName001}}</span>
                            <span style="margin-left: 15px;border-radius: 3px;display: inline-block;width: 40px;height: 20px;border: solid 1px gainsboro;text-align: center;line-height: 20px; color: white">普通卡</span>
                        </p>

                        <p style="font-size: 16px;margin-top: 30px;padding: 0px;color: white ">我的累计积分: 0， +50就能成为 银卡会员！</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div  class="container" style="padding-top: 20px;">
        <div class="row">
            <div id ="asideNavAll" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color: white;border: solid 1px gainsboro ;" >
                <div id ="asideNav" class="row">
                    <div style="width: 100%;height: 50px;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4>
                            <img src="images/inforTotal/myOrder.png" height="20" width="20" style="vertical-align: middle"/>
                            <span style="vertical-align: middle">我的订单</span>
                        </h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;" class="urt-title utr-add-color" ui-sref="userInfoFirst.shortRent">
                   <span  style="text-decoration: none;margin-left: 10px;" >

                       <img src="images/inforTotal/ShortDrive.png" height="15" width="15"/></span>
                        短租自驾
                    </div>
                    <div style="width: 100%;height: 30px">

                    </div>

                    <div style="width: 100%;height: 50px;border-top: solid 1px gainsboro;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4>
                            <img src="images/inforTotal/myAccount.png" height="15" width="15"/>
                            我的账户</h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;" class="urt-title" ui-sref="userInfoFirst.myInfo">
                   <span  style="text-decoration: none;margin-left: 10px" >
                       <img src="images/inforTotal/myInfor.png" height="15" width="15"/>
                       我的信息</span>
                    </div>

                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;" class="urt-title" ui-sref="userInfoFirst.changePassword">
                   <span  style="text-decoration: none;margin-left: 10px" >
                       <img src="images/inforTotal/changePassword.png" height="15" width="15"/>
                       修改密码</span>
                    </div>
                    <div style="width: 100%;height: 30px;">

                    </div>

                    <div style="width: 100%;height: 50px;border-top: solid 1px gainsboro;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4>
                            <img src="images/inforTotal/myFootprints.png" height="15" width="15"/>
                            我的足迹</h4>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;"  class="urt-title" ui-sref="userInfoFirst.myComment">
                   <span  style="text-decoration: none;margin-left: 10px" >
                       <img src="images/inforTotal/myAssess.png" height="15" width="15"/>
                       我的评价</span>
                    </div>
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;"  class="urt-title" ui-sref="userInfoFirst.myCollect">
                   <span  style="text-decoration: none;margin-left: 10px"  >
                       <img src="images/inforTotal/myCollect.png" height="15" width="15"/>
                       我的收藏</span>
                    </div>
                    <div style="width: 100%;height: 30px;">

                    </div>


                    <div style="width: 100%;height: 50px;border-top: solid 1px gainsboro;border-bottom: solid 1px gainsboro;line-height: 50px;line-height: 50px;padding-left: 20px;padding-top: 10px">
                        <h4><img src="images/inforTotal/memberTerms.png" height="20" width="20"/>
                            会员条款</h4>
                    </div>
                    <!-- <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;">
                         <a ui-sref="#" style="text-decoration: none">会员章程</a>
                     </div>-->
                    <div style="width: 100%;height: 40px;line-height: 40px;padding-left: 20px;"  class="urt-title " ui-sref="userInfoFirst.memberRules">
                   <span  style="text-decoration: none;margin-left: 10px" >
                       <img src="images/inforTotal/membershipRules.png" height="15" width="15"/>
                       会员细则</span>
                    </div>
                    <div style="width: 100%;height: 30px">

                    </div>

                </div>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ui-view >

            </div>

        </div>
    </div>

    <div class="container" style="width: 100%">
        <div class="row" style="margin-top: 4%">
            <hr>
        </div>
    </div>


    <div class="fivth" >
        <div class="row" style="margin: auto;background-color: #FFFFFF">
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding: 1% 0 2% 0;min-width: 460px">
                <div class="fivth-one">
                    <div class="title"><a href="https://www.zuche.com">租车</a>预订说明</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz1">服务时间</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz03">待租车况</a> <br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz05">服务预订</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz02">短租产品</a> <br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz04">租车资格</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz06">取还车说明</a>
                    </div>
                </div>
                <div class="fivth-after-two">
                    <div class="title">会员管理</div>
                    <div class="detail">
                        <a target="_blank" href="https://mycar.zuche.com/member/person/personinfo/memberNotify.do">会员章程</a>
                        <br>
                        <a target="_blank" href="https://mycar.zuche.com/member/person/personinfo/memberRule.do">会员细则</a><br>
                        <a target="_blank" href="https://mycar.zuche.com/member/getMemberLevel.do">定级积分</a>
                    </div>
                </div>
                <div class="fivth-after-three">
                    <div class="title">紧急事务处理</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz07">保险责任</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz08">理赔说明</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz09">事故处理</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz10" style="clear:both;">救援及备用车</a>
                    </div>
                </div>
                <div class="fivth-after-four">
                    <div class="title"><a href="https://www.zuche.com">租车</a>费用及结算</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz11">价格说明</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz13">结算流程</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz14">储值卡</a>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz15">积分</a>
                    </div>
                </div>
                <div class="fivth-after-five">
                    <div class="title">帮助中心</div>
                    <div class="detail">
                        <a target="_blank" href="https://help.zuche.com/cjwt/">常见问题</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/xssl.jsp">新手上路</a><br>
                        <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp">服务规则 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                </div>
                <div class="modal-body"  style="text-align: center">
                    <div style="width: 120px;height: 120px ;border: solid 1px rgba(0,0,0,0.51);display: inline-block;vertical-align: middle;padding: 0px">

                        <img ngf-src="data.file"  height="120px" width="120px" style="margin: 0px;display: block;"/>
                        <!--<div class="button" ngf-select="" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data.file" style="width: 100%;height: 100%"></div>-->

                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<div class="button" ngf-select="" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data.file" style="width: 100%;height: 100%">选择图片</div>-->
                    <button type="button" class="btn btn-warning" ngf-select="" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="data.file" >选择图片</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="upload()">上传头像</button>

                </div>
            </div>
        </div>
    </div>





</div>
