<div class="ch-change-password">
    <div class="ch-main-title">
        修改密码

    </div>

    <form id="changeForm" name="changeForm" novalidate>
        <!--<div class="ch-main-top">
            <div class="ch-main-top-left">
                原密码
            </div>
            <input id ="ch-pas-01" type="password" placeholder="请输入原来的密码" ng-model="oldPass" class="ch-input01" ng-blur="oldPas01()" name="password" required>
            <div class="ch-main-top-right">

            </div>
        </div>-->


        <div class="ch-main-top">
            <div class="ch-main-top-left">
                新密码

            </div>
            <input id="ch-pas-02" type="password" placeholder="建议6-18数字、字母、符号的组合密码" ng-model="newPass"
                   ng-blur="newPas01()" class="ch-input01">
            <!--intensity  强度-->
            <!-- <div class="ch-intensity">

                 <div class="ch-intensity-type">弱</div>
                 <div class="ch-intensity-type">中</div>
                 <div class="ch-intensity-type">强</div>


             </div>-->
            <div class="ch-main-top-right">
                请牢记新密码，密码格式由数字和字母组成
            </div>
        </div>
        <div class="ch-main-top">
            <div class="ch-main-top-left">
                确认密码

            </div>
            <input id="ch-pas-03" type="password" placeholder="再次输入新密码" ng-model="confPass" ng-blur="checkPas01()"
                   class="ch-input01">
            <div class="ch-main-top-right">
                再次输入新密码
            </div>
        </div>
        <div class="ch-div-submit">
            <div class="ch-submit" ng-click="submit01()">提交</div>
        </div>

    </form>


    <!--更新成功后的模态框-->
    <div class="modal fade" id="myModalchaPasSuc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabelchaPasSuc">更改密码</h4>
                </div>
                <div class="modal-body  " style="padding:30px;">
                    <div>更改状态</div>
                    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px">
                        <span>更新成功</span></div>

                    <!-- <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">不取消了</button>
                         <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelOrder()">执意取消</button>
                     </div>-->
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
    <!--更新失败后的模态框-->
    <div class="modal fade" id="myModalchaPasFal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabelchaPasFal">更改密码</h4>
                </div>
                <div class="modal-body  " style="padding:30px;">
                    <div>更改状态</div>
                    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px">
                        <span>更新失败</span></div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
    <!--提交框有误的模态框-->
    <div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabelError">更改密码</h4>
                </div>
                <div class="modal-body  " style="padding:30px;">
                    <div>更改状态</div>
                    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px">
                        <div>填写信息有误</div><!--<span style="border: 1px solid black">填写信息有误</span>--></div>
                    <!-- <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">不取消了</button>
                         <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelOrder()">执意取消</button>
                     </div>-->
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>


</div>