

<div >
<div class="der-container-modal-box">
    <div class="der-container-modal-box-div">

        大众朗逸配置信息
        <span class="der-container-modal-box-div-delete">x</span>
    </div>
    <table class="der-container-modal-box-table">
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg01.png" height="20" width="20"/>
                座 位 数： 5
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg02.png" height="20" width="20"/>
                车 门 数： 4
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg03.png" height="20" width="20"/>
                燃料类型： 汽油
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg04.png" height="20" width="20"/>
                变速箱类型： AT
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg05.png" height="20" width="20"/>
                排　　量：1598
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg06.png" height="20" width="20"/>
                燃油标号： 92-93汽油
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg07.png" height="20" width="20"/>
                驱动方式： 前驱
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg08.png" height="20" width="20"/>
                发动机进气形式： 自然吸气
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg09.png" height="20" width="20"/>
                天　　窗： 无
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg10.png" height="20" width="20"/>
                油箱容量： 55
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg11.png" height="20" width="20"/>
                音　　箱： 4
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg12.png" height="20" width="20"/>
                座　　椅： 皮革座椅
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg13.png" height="20" width="20"/>
                倒车雷达： 无
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg14.png" height="20" width="20"/>
                气　　囊： 2
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/personal-img/modalImg/derImg15.png" height="20" width="20"/>
                DVD / CD： CD
            </td>
            <td>
                <img src="images/personal-img/modalImg/derImg16.png" height="20" width="20"/>
                GPS导航： 无
            </td>
        </tr>

    </table>

</div>

<div class="der-container">
 <!--   <div class="der-top-nav">

        <img src="inages/logo.png" height="50" width="120" class="der-top-nav-img"/>
        <span class="der-top-nav-text01">途乐租车</span>
        <div class="der-top-nav-div-right">
            <span class="der-top-bottom-nav-img-right">
            <img src="inages/icon副本.png" height="24" width="161" style="vertical-align: middle"/>
            <img src="inages/telDown2.png" height="15" width="15" style="vertical-align: middle"/>
                        <img src="inages/telother2.png" height="59" width="184"
                             class="der-top-bottom-nav-img-right003"/>

            </span>

            <table>
                <tr>
                    <td>欢迎您，小***</td>
                    <td>我的订单</td>
                    <td>退出</td>
                </tr>
            </table>

        </div>

    </div>-->


    <div class="der-top">
        <div class="der-top-top">
            <span class="der-top-top-text01">已取消</span>
            订单总价: <span class="der-top-top-text02">¥</span>
            <span class="der-top-top-text03">{{total}}</span>
        </div>
        <div class="der-top-bottom">
            订单号：<span>{{oId}}</span> | 租车人：<span style="color: red">{{realName}}</span> | 租期：<span>{{days}}</span>天
        </div>
    </div>


    <div class="der-top-middle">
        <div class="der-top-middle-title">
            基本信息
        </div>


        <table class="der-top-middle-table">


            <tr class="der-top-middle-table-tr01">
                <td rowspan="3" colspan="3">
                    <div>
                        <img src="images/personal-img/dazong.png" height="75" width="75"/>


                        <img src="images/personal-img/ly.jpg" height="70" width="150"/>
                       <!-- <span class="der-top-middle-table-tr01-text">配置信息</span>-->


                    </div>


                </td>
                <td rowspan="2">取车时间：<span>{{rentTime}}</span></td>
                <td rowspan="2">取车地点：<span>{{rentAdd}}</span></td>

            </tr>


            <tr class="der-top-middle-table-tr02">

            </tr>


            <tr class="der-top-middle-table-tr03">
                <td rowspan="2">还车时间：<span>{{returnTime}}</span></td>
                <td rowspan="2">还车地点：<span>{{returnAdd}}</span></td>

            </tr>


            <tr class="der-top-middle-table-tr04">
                <td>{{carName}}</td>
                <td>{{carSize}} / {{output}}</td>
                <td>乘坐{{sitNum}}人</td>

            </tr>

        </table>


        <div class="der-top-middle-title2">
            费用明细
        </div>
        <div class="der-top-middle-bottom-text01">
            <span class="der-top-middle-content-left01">车辆租赁费及门店服务费
            </span>
            <span class="der-top-middle-bottom-right01">{{rentPrice}}x{{days}}
                <span class="der-top-middle-content-right01-text01">￥</span>
                <span class="der-top-middle-content-right01-text02">{{rentPrice}}*{{days}}</span>
           </span>
        </div>
        <div class="der-top-middle-bottom-text01">
            <span class="der-top-middle-content-left01">基本保险费
            </span>
            <span class="der-top-middle-bottom-right01"> {{insurance}}x{{days}}=
                <span class="der-top-middle-content-right01-text01">￥</span>
                <span class="der-top-middle-content-right01-text02">{{insurance}}*{{days}}</span>
           </span>
        </div>
        <div class="der-top-middle-bottom-text03">
            <span class="der-top-middle-content-left01"> 其他费用

            <img src="images/personal-img/arrows_down.png" height="15" width="15"
                 class="der-top-middle-bottom-text03-image01"/>
            <img src="images/personal-img/arrows_up.png" height="15" width="15"
                 class="der-top-middle-bottom-text03-image02"/>
            </span>
            <span class="der-top-middle-bottom-right01">合计
                <span class="der-top-middle-content-right01-text01">￥</span>
                <span class="der-top-middle-content-right01-text02">35.0 </span>
           </span>
        </div>

        <div class="der-top-middle-bottom-text04">
            <span class="der-top-middle-content-left04"> 手续费 </span>

            <span class="der-top-middle-bottom-right01"> 35x1=
                <span class="der-top-middle-content-right01-text01">￥</span>
                <span class="der-top-middle-content-right01-text02">35.0 </span>
           </span>
        </div>
        <div class="der-top-middle-bottom-text05">

            <span class="der-top-middle-bottom-right01">订单总价:
                <span class="der-top-middle-content-right01-text01">￥</span>
                <span class="der-top-middle-content-right01-text02">{{total}}</span>
           </span>
        </div>
    </div>


    <div class="crt-middle-div" >
        <button class="btn" style="margin-right:20px;width: 80px" data-toggle="modal" data-target="#myModal1" ng-if="orderStatus=='等待付款'">
            去付款

        </button>
        <button class="btn" data-toggle="modal" data-target="#myModal" style="margin-right: 20px" ng-if="orderStatus=='处理中'||orderStatus=='等待付款'">
            取消订单

        </button>
        <button class="btn" ng-click="turnCenter()">
            订单中心

        </button>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div>
                    <h3 class="text-center " style="margin-top: 60px;color: red">恭喜您</h3>


                </div>

                <div>
                    <h4 class="text-center" style="margin-bottom: 50px">订单提交成功</h4>
                </div>

                <div class="modal-footer" style="text-align: center" >
                    <button class="btn" style="background-color: yellow">
                        我知道了
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabel">取消订单</h4>
                </div>
                <div class="modal-body  " style="padding:30px;" >
                    <div >订单编号可以取消</div>
                    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px"><span>您确定要取消订单吗？</span></div>
                    <!--<div >取消订单的原因：</div>
                    <div  class="order-model-middle">
                        <table>
                            <tr>
                                <td>
                                    <input type="radio" name="order-choose">
                                    行程发生变更
                                </td>
                                <td>
                                    <input type="radio" name="order-choose">
                                    不满意价格
                                </td>
                                <td>
                                    <input type="radio" name="order-choose">
                                    选择其他租车公司
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="order-choose">
                                    其他出行代替
                                </td>
                                <td>
                                    <input type="radio" name="order-choose">
                                    天气原因
                                </td>
                                <td>
                                    <input type="radio" name="order-choose">
                                    其他
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>-->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">不取消了</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelOrder()">执意取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <div class="der-top-bottom01">
        <h4>如何取车</h4>
        <p> 1.取车时,出示以下证件的原件：本人二代身份证、本人国内有效驾驶证正副本、本人一张信用及可用额度均不低于3000元的国内有效信用卡，所有证件有效期须至少超过当次租期的一个月以上。
        </p>
        <p> 2.请您准时取车，超时取车，起租时间按预订取车时间起算。
        </p>
    </div>


    <div class="der-top-bottom02">
        <h4>退改规则</h4>
        <p>
            修改或取消订单，请提前致电400 616 6666：取车时间在门店营业时间内，请提前2小时申请；取车时间在门店营业时间之外，请您尽早致电申请；套餐订单不可修改为普通订单。
        </p>
        <p>
            （小贴士：如果您修改订单或取消订单重新预订，价格可能会发生变化。）
        </p>
    </div>
</div>

           <!--取消成功的模态框-->
    <div class="modal fade" id="myModalCancelsuc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabelCancel">取消订单</h4>
                </div>
                <div class="modal-body  " style="padding:30px;" >
                    <div >订单状态</div>
                    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px"><span>取消成功</span></div>

                   <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">不取消了</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelOrder()">执意取消</button>
                    </div>-->
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

    <!--取消成功的模态框-->
    <div class="modal fade" id="myModalCancelfal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabelCancelfal">取消订单</h4>
                </div>
                <div class="modal-body  " style="padding:30px;" >
                    <div >订单状态</div>
                    <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px"><span>取消失败</span></div>

                    <!-- <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">不取消了</button>
                         <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelOrder()">执意取消</button>
                     </div>-->
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>


</div>
</div>
