<div class="mct-container-body">

    <div class="mct-container-top">

        <div class="mct-container-date">
            <span class="mct-container-date-text">我的评价</span>
            <input id="d4313" class="Wdate sd-container-date01" type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'d4314\')||\'2020-10-01\'}',isShowClear:false,readOnly:true, dateFmt:'yyyy-MM-dd HH:00',skin:'twoer',})"/>
            <input id="d4314" class="Wdate sd-container-date02" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'d4313\')}',maxDate:'2020-10-01',isShowClear:false,readOnly:true, dateFmt:'yyyy-MM-dd HH:00',skin:'twoer',})"/>
            <a ng-click="searchComment()" class="mct-container-date-input">查询</a>
        </div>
        <div class="mct-container-content">
            <table>
                <tr>
                    <td ng-click="getAllCom()" style="color: white">全部</td>

                </tr>
            </table>

        </div>


        <table class="mct-container-table01">
            <tr>
                <td>订单信息</td>
                <td class="mct-container-table01-td02">评价</td>
                <td class="mct-container-table01-td03">评分</td>
            </tr>
        </table>


          <div class="qwer">
        <div class="mct-container-car" ng-repeat="x in partNew " repeat-finish-page  >
            <table class="mct-container-table02 ">
                <tr>
                    <td class="mct-container-table02-td01">
                        <img ng-click="turnImageCom(x.carId,x.eachCarId)" src="images/personal-img/ly.jpg" height="100" width="165" style="vertical-align: middle"/>
                        <div class="mct-container-table01-td02-div">
                            {{x.carName}}<br>
                            <span style="font-size: 0.8em; color: #60606C">{{x.carSize}}>{{x.output}}|乘坐{{x.sitNum}}人
                        <br>
                    订单号：<span>{{x.orderId}}</span>
                                <br>
                            <a ui-sref="userInfoFirst.orderDatail({oId:{{x.oId}}})" style="cursor: pointer">查看订单</a>
                                </span>
                        </div>
                    </td>
                    <td class="mct-container-table02-td02">

                        <div class="mct-container-table02-td02-comment">
                            <span>{{x.comContent.substring(0,99)}}</span>
                            <span ng-if="x.comContent.length>100" ng-click="clickMore($event,x.comContent)" style="cursor: pointer;color: skyblue;">更多</span>
                            <br>
                        </div>

                        <div class="mct-container-table02-date">{{x.collTime}}</div>
                    </td>
                    <td class="mct-container-table02-td03">星级:

                            <div class="mct-star-div" id="starCom{{x.orderId}}" ng-click="test($event)">
                            <div class="mct-star-white"></div>
                            <div class="mct-star-white"></div>
                            <div class="mct-star-white"></div>
                            <div class="mct-star-white"></div>
                            <div class="mct-star-white"></div>
                        </div>

                        <span class="mct-star-number">{{x.grade}}分</span>
                    </td>

                </tr>
            </table>

        </div>
          </div>


        <div class="row" id="showPage" style="display:none">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="background-color:#ffffff">
                <div aria-label="Page navigation" style="text-align: right">
                    <ul class="pagination">
                        <li>
                            <a href="javascript:void(0);" aria-label="Previous" id="backPage"
                               ng-click="turnPage(page_now-1)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li ng-repeat="c in part_count">
                            <a href="javascript:void(0);" ng-bind="c" ng-click="turnPage(c)"></a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" aria-label="Next" id="goPage"
                               ng-click="turnPage(page_now+1)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row" id="false" style="display: none">
            <div class="esd-container-top">
                <div class="esd-container-content-empty">
                    <img src="images/personal-img/no-order.png" height="120" width="120" class="esd-container-image-empty"/>
                    <div class="esd-container-content-text-empty">
                        还没有一个评价喔，亲
                    </div>
                    <a href="#">立即租车</a>
                </div>
            </div>
        </div>

    </div>




</div>
