<div class="sd-container-body">

    <div class="sd-container-top">

        <div class="sd-container-date">
            <!--sd-container-date01-->
            <span class="sd-container-date-text">自驾订单</span>
            <input id="d4313" class="Wdate sd-container-date01" type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'d4314\')||\'2020-10-01\'}',isShowClear:false,readOnly:true, dateFmt:'yyyy-MM-dd HH:00',skin:'twoer',})"/>
            <input id="d4314" class="Wdate sd-container-date02" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'d4313\')}',maxDate:'2020-10-01',isShowClear:false,readOnly:true, dateFmt:'yyyy-MM-dd HH:00',skin:'twoer',})"/>
            <a ng-click="searchTime()" class="sd-container-date-input">查询</a>
        </div>
        <div class="sd-container-content">
            <table>
                <tr ng-click="getStatus($event)">
                    <td>全部</td>
                    <td>处理中</td>
                    <td>等待付款</td>
                    <td>预订成功</td>
                    <td>租赁中</td>
                    <td>已完成</td>
                    <td>已取消</td>
                </tr>
            </table>

        </div>


        <table class="sd-container-table01">
            <tr>
                <td>订单信息</td>
                <td class="sd-container-table01-td02">取/还车信息</td>
                <td class="sd-container-table01-td03">总计</td>
                <td class="sd-container-table01-td03">订单状态</td>
            </tr>
        </table>

        <div id="qwer" ><!--|status:value| timeChoose:searchSta:searchEnd-->
            <div  class="sd-container-car" ng-repeat="x in partNew" >
                <table class="sd-container-table02 " >
                    <tr >
                        <td class="sd-container-table02-td01">

                            <img src="images/personal-img/ly.jpg" height="100" width="165" style="vertical-align: middle"/>
                            <div class="sd-container-table01-td02-div">
                                {{x.carName}}<br>
                                <span style="font-size: 0.8em; color: #60606C">{{x.carSize}}>{{x.output}}|乘坐{{x.sitNum}}人
                        <br>
                    订单号：{{x.oId}}</span><br>
                                <span style="font-size: 0.9em; color: #60606C">下单时间:{{x.orderTime}}</span>
                            </div>
                        </td>
                        <td class="sd-container-table02-td02">

                            <img src="images/personal-img/get.png" height="18" width="18" alt="武汉 - 天河机场店"/>
                            {{x.rentStore}}<br>
                            <span style="font-size: 0.9em; margin-left: 23px; color: #E4BEAA">{{x.rentTime}}</span> <br>
                            <img src="images/personal-img/back.png" height="16" width="16" alt="武汉 - 天河机场店"/>
                            {{x.returnStore}} <br>
                            <span style="font-size: 0.9em; margin-left: 23px; color:#E4BEAA;"> {{x.returnTime}}</span> <br>
                           <!-- <span class="sd-container-date02-order">订单跟踪</span>-->


                           <!-- <img src="images/personal-img/triangle.png" height="6" width="10" class="sd-container-date02-image"/>-->


                        </td>
                        <td class="sd-container-table02-td03">￥{{x.total}}</td>
                        <td class="sd-container-table02-td04">{{x.orderStatus}}
                            <br>
                            <a ui-sref="userInfoFirst.orderDatail({oId:{{x.oId}}})" style="cursor: pointer">查看订单</a>
                            <br>
                            <a id="comm{{x.oId}}" ng-if="x.orderStatus=='已完成'&&x.commStatus=='未评价'" style="cursor: pointer">{{x.commStatus}}</a>
                            <a  ng-if="x.orderStatus=='已完成'&&x.commStatus=='已评价'" style="cursor: not-allowed;opacity: 0.5">{{x.commStatus}}</a>
                            <a id="pay{{x.oId}}" ng-if="x.orderStatus=='等待付款'" style="cursor: pointer">去付款</a>
                        </td>
                    </tr>
                </table>

                <div id="showcomm{{x.oId}}" style="height: 200px;width: 100%;border:1px solid #ddd;display:none;">
                    <div style="height: 80%;width: 100%;border:1px solid #ddd">
                        <div style="width: 22%;height: 100%;border:1px solid #ddd;float:left;"></div>
                        <div style="width: 50%;height: 100%;float:left;text-align:right;">
                            <textarea name="myComment" id="mycomment{{x.oId}}" style="height: 90%;width: 90%;margin-top:9px"></textarea>
                        </div>
                        <div style="width: 28%;height: 100%;float:left;">
                            <div style="width: 100%;position: relative;top:70%">
                                <div ng-click="score($event,x.oId)" class="prosonal-comment-star" style="width: 90%;margin:0 auto;">
                                    <span>星级:</span>
                                    <ul>
                                        <li><img src="images/personal-img/whiteStar.png" alt=""></li>
                                        <li><img src="images/personal-img/whiteStar.png" alt=""></li>
                                        <li><img src="images/personal-img/whiteStar.png" alt=""></li>
                                        <li><img src="images/personal-img/whiteStar.png" alt=""></li>
                                        <li><img src="images/personal-img/whiteStar.png" alt=""></li>
                                    </ul>
                                    <span>{{scoreNum[x.oId]}}分</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 20%;width: 100%;">
                       <div style=" width: 100px;
                        height: 30px;
                        color: white;
                        cursor: pointer;
                        line-height: 30px;
                        margin: auto;
                        margin-top: 5px;
                        background-color: #3498DB;
                        text-align: center;" ng-click="submit(x.oId,x.carId,x.eachCarId)">
                       提交</div>
                    </div>

                </div>
                <!--  <div class="sd-container-date02-div">

                      <table class="sd-container-date02-popover">
                          <tr>
                              <td>变更时间</td>
                              <td>取车门店/时间</td>
                              <td>还车门店/时间</td>
                              <td>车型信息</td>
                              <td>变更状态</td>
                          </tr>
                      </table>
                      <table class="sd-container-date02-popover2">
                          <tr>
                              <td>2017-04-01 15:37</td>
                              <td>武汉 - 天河机场店 <br>
                                  2017-04-09 16:00
                              </td>
                              <td> 武汉 - 天河机场店 <br>
                                  2017-04-14 12:00
                              </td>
                              <td> 大众朗逸 <br>
                                  三厢/1.6自动 | 乘坐5人
                              </td>
                              <td> 预订成功</td>
                          </tr>
                          <tr>
                              <td>2017-04-01 15:41</td>
                              <td>武汉 - 天河机场店 <br>
                                  2017-04-09 16:00
                              </td>
                              <td></td>
                              <td></td>
                              <td>已取消</td>
                          </tr>
                      </table>
                  </div>-->
            </div>
        </div>
       <!--分页-->
       <div class="row" id="showPage" style=" display:none">
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="background-color:#ffffff">
             <div aria-label="Page navigation" style="text-align: right">
                <ul class="pagination">
                   <li>
                      <a href="javascript:void(0);" aria-label="Previous" id="backPage" ng-click="turnPage(page_now-1)">
                         <span aria-hidden="true">&laquo;</span>
                      </a>
                   </li>

                   <li ng-repeat="c in part_count">
                      <a href="javascript:void(0);" ng-bind="c" ng-click="turnPage(c)"></a>
                   </li>

                   <li >
                      <a href="javascript:void(0);" aria-label="Next" id="goPage" ng-click="turnPage(page_now+1)">
                         <span aria-hidden="true">&raquo;</span>
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>

        <div class="row" id="false" style="display: none">
            <div class="esd-container-top">
                <div class="esd-container-content-empty">
                    <img src="images/inforTotal/no-order.png" height="120" width="120" class="esd-container-image-empty"/>
                    <div class="esd-container-content-text-empty">
                        现在还没有订单喔,亲
                    </div>
                    <a href="#">立即租车</a>
                </div>
            </div>
        </div>


    </div>
    <div class="sd-container-middle">
        <div class="sd-container-middle-top">
            订单状态说明

        </div>
        <div class="sd-container-middle-main">
            <div class="sd-container-middle-div01">
                <span style="color: #a7c176;">预订成功</span>
                <br>
                订单已确认，尚未提车
            </div>
            <div class="sd-container-middle-div02">
                <span style="color: #FF8650">等待付款</span>
                <br>
                订单尚未付款，请在1小时内完成支付
            </div>
            <div class="sd-container-middle-div03">
                <span style="color: #00CEE1">处理中</span>


                <br>
                您的订单已提交，正在处理中
            </div>
            <div class="sd-container-middle-div04">
                <span style="color: #00CEE1">租赁中</span>


                <br>
                车辆正在租赁过程中
            </div>
            <div class="sd-container-middle-div05">
                <span style="color: #FF8650">待评价</span>


                <br>
                订单完成48小时内，可对我们做出评价
            </div>
            <div class="sd-container-middle-div06">
                <span style="color: #FABE00">已完成</span>


                <br>
                已还车，订单结算完毕
            </div>
            <div class="sd-container-middle-div07">
                <span style="color: #FF8650" >已取消</span>


                <br>
                订单已经取消
            </div>

        </div>

    </div>


    <div class="sd-container-bottom">
        <div class="sd-container-bottom-top">
            注意事项
        </div>
        <div class="sd-container-bottom-text">1. 修改或取消订单，请您尽早致电400 616
            6666申请，送车上门或服务点订单请至少在我们的工作时间内（08:00-20:00）提前2小时修改；
            <br>

            2. 预付订单，逾时不履行或取消的，退还您预付款中的基本保险、手续费及可选服务费款项，已付费用将作为违约金恕不退还；
            <br>
            3. 系统将为您保留一年之内的订单，如需查询更早的订单，请致电24小时热线。
        </div>
    </div>


    <!--评价的模态框-->
    <div class="modal fade" id="myModalCom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header order-model-top">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title " id="myModalLabelCom">我的评价</h4>
                </div>
                <div class="modal-body  " style="padding:30px;" >
                    <div>评价成功  感谢您的评价</div>
                    <div ng-click="toogle()" style="text-align: center;margin-top: 20px;margin-bottom: 20px;color: red;font-size:18px"><div style="border-radius: 15px;height: 30px;width: 260px;margin: auto;background-color: red;color: white;line-height: 30px;cursor: pointer"><span>立即查看我的评价</span></div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
        <!--评价的模态框-->
        <div class="modal fade" id="myModalComFal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header order-model-top">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title " id="myModalLabelComFal">我的评价</h4>
                    </div>
                    <div class="modal-body  " style="padding:30px;" >
                        <div>评价失败</div>
                        <div>我也不知道发生了什么</div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>


</div>
</div>